@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($fontsPath + 'Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:  url($fontsPath + 'icomoon.eot?s8tktf');
    src:  url($fontsPath + 'icomoon.eot?s8tktf#iefix') format('embedded-opentype'),
      url($fontsPath + 'icomoon.ttf?s8tktf') format('truetype'),
      url($fontsPath + 'icomoon.woff?s8tktf') format('woff'),
      url($fontsPath + 'icomoon.svg?s8tktf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-instagram::before {
    content: "\ea92";
}
.icon-telegram::before {
    content: "\ea95";
}
.icon-vk::before {
    content: "\ea98";
}
.icon-skype::before {
    content: "\eac5";
}