@mixin ring($holeColor) {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(144deg, red 10%, green 54.17%, blue 90%);
    opacity: 0.6;
    border: 5px solid black;
    
    &::after {
        content: '';
        width: 129px;
        height: 129px;
        background-color: $holeColor;
        border-radius: 50%;
    }
}

@mixin bigRing($holeColor) {
    @include ring($holeColor);
    width: 282px;
    height: 282px;

    &::after {
        width: 188px;
        height: 188px;
    }
}