.third-screen {
    position: relative;
    height: 640px;
    background-color: $lighterGray;
    overflow: hidden;
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 46px;
        align-items: center;
        z-index: 1;
    }
    &__left-column {
        width: 542px;
        height: 319px;
        margin-left: 12px;
        padding-left: 155px;
        padding-top: 127px;
    }

    &__left-title {
        @include title;
        line-height: 65px;
        &::after {
            top: 65px;
            width: 70px;
        }
    }
    &__right-column {
        width: 479px;
        height: 548px;
        margin-right: 19px;
    }
    &__right-title {
        @include title;
        line-height: 65px;
        margin-bottom: 20px;
        &::after {
            top: 65px;
            width: 70px;
        }
    }
    &__text {
        margin-bottom: 30px;
        font-size: 18px;
    }
    &__inner-ring {
        @include bigRing($lighterGray);
        top: 160px;
        left: 109px;
    }
    &__outer-ring {
        @include bigRing($lighterGray);
        top: -88px;
        right: -93px;
    }
    &__circle {
        position: absolute;
        top: 249px;
        left: 12px;
        width: 230px;
        height: 230px;
        background: url($imgPath + 'circle.svg') no-repeat 0 0; 
        background-size: 100% 100%;
    }
}


